src/main/mule/quiz1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="quiz1Flow" doc:id="89e104db-8206-46ae-922b-d261edd71c26" >
		<http:listener doc:name="Listener" doc:id="7183fc14-387f-49e4-8d87-a7ae003a8e38" path="/quiz1" config-ref="HTTP_Listener_config"/>
		<ee:transform doc:name="Transform Message" doc:id="532616e3-9710-4cba-8c25-4b5bc89dd7d5" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json

//inputs = ["header","footer" , "Menu" , "LineBreak"]  


    ---
    
     do {
      var retrieveValues = {
	"autoFields" :[{
		"fields" : "header",
		"value" : "mulesoft "
	},
	{
		"fields" : "footer",
		"value" : "sanjana"
	},
	{
		"fields" : "border",
		"value" : 2
	}],
	"manualFields" : [{
		
		"fields" : "footer",
		"value" : "Copy Right"
	},
	{
		"fields" : "Menu",
		"value" : "Responsive"
	},
	{
		"fields" : "pagination",
		"value" : "true"
	
	}]
	}
   ---
 payload.inputs  map(item,index)->{
	fields: item,
    value: if (( (retrieveValues.autoFields filter($.fields contains  item) )[0]).fields == item) ((retrieveValues.autoFields filter($.fields contains  item) )[0]).value
    else if  ((( retrieveValues.manualFields filter($.fields contains item))[0]).fields == item) ((retrieveValues.manualFields filter($.fields contains item))[0]).value
    else "N/A"
} 

}


]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
